table {
    background-color: #0c131b;
    color: #86918c;
    width: 600px;
    border-collapse: collapse;
    text-align: center;
}

.p {
    padding-right: 55px;
    padding-left: 55px;

}

.mt {
    margin: 0;
    font-size: 55px;
    color: #20b4bb;
    font-weight: bold;
    font-family: "Arial";
}

.smt ,
h2,
.st {
    font-size: 36px;
    color: #bcbcbd;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    margin: 0;
}

.smt {
    font-size: 36px;
    padding-bottom: 40px;
}

.st {
    font-size: 20px;
}

.v {
    color: #9f15a9;
} 

p {
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
    font-family: "Arial";
    margin: 0;
}

.a {
    display: inline-block;
    font-size: 18px;
    color: #fffff8;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    border-radius: 3px;
    background-color: #9f15a9;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 40px;
    padding-left: 40px;
}

.forty {
    padding-top: 42px;
}

.sp {
    padding-bottom: 15px;
}

.sp1 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.sp2 {
    padding-bottom: 15px;
}

.cards {
    font-size: 24px;
    text-transform: uppercase;
}

.o {
    color: #fa5d26;
}

.y {
    color: #e8a336;
}

.s {
    color: #b25000;
    font-weight: bold;
}

.notification {
    font-size: 11px;
    color: #85908c;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.bottom {
    background-color: #ebd2aa;
}

.vblogtd {
    padding-bottom: 35px;
    padding-top: 10px;
}

.oncalltd {
    padding-bottom: 60px;
}

.oncall {
    padding-bottom: 48px;
    font-size: 36px;
    color: #263870;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.callonp {
    color: #000000;
    text-align: center;
    padding-bottom: 35px;
}

.bimg {
    padding-bottom: 40px;
}

.bimg td {
    background-color: #ebd2aa;

}